<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.ruoyi.shop.mapper.ShopZhenkeMapper">
  <resultMap id="place" type="ShopPlace">
    <id property="placeId" column="place_id"/>
    <result property="provider" column="provider"/>
    <result property="providerPlaceId" column="provider_place_id"/>
    <result property="placeName" column="place_name"/>
    <result property="placeType" column="place_type"/>
    <result property="address" column="address"/>
    <result property="province" column="province"/>
    <result property="city" column="city"/>
    <result property="district" column="district"/>
    <result property="provinceCode" column="province_code"/>
    <result property="cityCode" column="city_code"/>
    <result property="districtCode" column="district_code"/>
    <result property="latitude" column="latitude"/>
    <result property="longitude" column="longitude"/>
    <result property="coordinateSystem" column="coordinate_system"/>
    <result property="status" column="status"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>
  <resultMap id="resource" type="ShopZhenkePostResource">
    <id property="resourceId" column="resource_id"/>
    <result property="postId" column="post_id"/>
    <result property="resourceType" column="resource_type"/>
    <result property="resourceUrl" column="resource_url"/>
    <result property="resourceSort" column="resource_sort"/>
  </resultMap>
  <resultMap id="post" type="ShopZhenkePost">
    <id property="postId" column="post_id"/>
    <result property="shopUserId" column="shop_user_id"/>
    <result property="userName" column="user_name"/>
    <result property="nickName" column="nick_name"/>
    <result property="avatar" column="avatar"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="suggestion" column="suggestion"/>
    <result property="perspective" column="perspective"/>
    <result property="placeId" column="place_id"/>
    <result property="placeName" column="place_name"/>
    <result property="placeAddress" column="place_address"/>
    <result property="placeProvince" column="place_province"/>
    <result property="placeCity" column="place_city"/>
    <result property="placeDistrict" column="place_district"/>
    <result property="placeLatitude" column="place_latitude"/>
    <result property="placeLongitude" column="place_longitude"/>
    <result property="merchantId" column="visible_merchant_id"/>
    <result property="merchantName" column="merchant_name"/>
    <result property="status" column="status"/>
    <result property="featured" column="featured_flag"/>
    <result property="featuredAt" column="featured_at"/>
    <result property="featuredBy" column="featured_by"/>
    <result property="featuredVersion" column="featured_version"/>
    <result property="publishedAt" column="published_at"/>
    <result property="deleteTime" column="delete_time"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="commentCount" column="comment_count"/>
    <result property="usefulCount" column="useful_count"/>
    <result property="usefulByMe" column="useful_by_me"/>
  </resultMap>
  <sql id="postSelect">
    select p.*,u.user_name,u.nick_name,u.avatar,m.merchant_id visible_merchant_id,m.shop_name merchant_name,(select count(*) from shop_zhenke_post_comment c where c.post_id=p.post_id and c.del_flag='0') comment_count,(select count(*) from shop_zhenke_post_useful x where x.post_id=p.post_id) useful_count,
    <choose>
      <when test="currentUserId != null">exists(select 1 from shop_zhenke_post_useful x where x.post_id=p.post_id and x.shop_user_id=#{currentUserId})</when>
      <otherwise>0</otherwise>
    </choose>
     useful_by_me
     from shop_zhenke_post p
     join shop_user u on u.user_id=p.shop_user_id and u.del_flag='0'
     join shop_place pl on pl.place_id=p.place_id
     <if test="!includeDeleted">and pl.status='0'</if>
     left join shop_merchant m on m.merchant_id=p.merchant_id and m.del_flag='0'
     <if test="!includeDeleted">and m.audit_status='APPROVED' and m.status='0'</if>
  </sql>
  <select id="selectPlaceByProvider" resultMap="place">select * from shop_place where provider=#{provider} and provider_place_id=#{providerPlaceId} and status='0'</select>
  <select id="selectPlace" resultMap="place">select * from shop_place where place_id=#{placeId} and status='0'</select>
  <insert id="insertPlace" useGeneratedKeys="true" keyProperty="placeId">insert ignore into shop_place(provider,provider_place_id,place_name,place_type,address,province,city,district,province_code,city_code,district_code,latitude,longitude,coordinate_system,status,create_time,update_time) values(#{provider},#{providerPlaceId},#{placeName},#{placeType},#{address},#{province},#{city},#{district},#{provinceCode},#{cityCode},#{districtCode},#{latitude},#{longitude},'GCJ02','0',sysdate(),sysdate())</insert>
  <select id="selectPosts" resultMap="post">
    <include refid="postSelect"/>
    <where>
      <if test="!includeDeleted">p.del_flag='0' and p.status='PUBLISHED'</if>
      <if test="authorId != null">and p.shop_user_id=#{authorId}</if>
      <if test="placeId != null">and p.place_id=#{placeId}</if>
      <if test="merchantId != null">and p.merchant_id=#{merchantId}</if>
      <if test="status != null and status != ''">and p.status=#{status}</if>
      <if test="publishedFrom != null">and p.published_at &gt;= #{publishedFrom}</if>
      <if test="publishedTo != null">and p.published_at &lt;= #{publishedTo}</if>
      <if test="city != null and city != ''">and p.place_city=#{city}</if>
      <if test="keyword != null and keyword != ''">and (p.title like concat('%',#{keyword},'%') or u.user_name like concat('%',#{keyword},'%') or u.nick_name like concat('%',#{keyword},'%') or p.place_name like concat('%',#{keyword},'%'))</if>
      <if test="perspectiveFilter == 'LOCAL'">and p.perspective='LOCAL'</if>
      <if test="perspectiveFilter == 'TOURIST'">and p.perspective='TOURIST'</if>
      <if test="perspectiveFilter == 'HOMETOWNER'">and p.perspective='HOMETOWNER'</if>
      <if test="featuredFilter == 'FEATURED'">and p.featured_flag='1'</if>
      <if test="featuredFilter == 'NORMAL'">and p.featured_flag='0'</if>
    </where>
    order by p.published_at desc,p.post_id desc
  </select>
  <select id="selectFeaturedPosts" resultMap="post">
    <include refid="postSelect"/>
    where p.del_flag='0'
      and p.status='PUBLISHED'
      and p.featured_flag='1'
      <if test="city != null and city != ''">and p.place_city=#{city}</if>
    order by p.featured_at desc,p.published_at desc,p.post_id desc
    limit #{limit}
  </select>
  <select id="selectPostCities" resultType="string">
    select p.place_city
    from shop_zhenke_post p
    join shop_place pl on pl.place_id=p.place_id and pl.status='0'
    where p.del_flag='0'
      and p.status='PUBLISHED'
      and p.place_city is not null
      and trim(p.place_city) != ''
      <if test="scopeCity != null and scopeCity != ''">and p.place_city=#{scopeCity}</if>
      <if test="perspectiveFilter == 'LOCAL'">and p.perspective='LOCAL'</if>
      <if test="perspectiveFilter == 'TOURIST'">and p.perspective='TOURIST'</if>
      <if test="perspectiveFilter == 'HOMETOWNER'">and p.perspective='HOMETOWNER'</if>
    group by p.place_city
    order by max(p.published_at) desc,max(p.post_id) desc
  </select>
  <select id="selectPost" resultMap="post">
    <include refid="postSelect"/>
     where p.post_id=#{postId}
    <if test="!includeDeleted"> and p.del_flag='0' and p.status='PUBLISHED'</if>
  </select>
  <select id="selectResources" resultMap="resource">select * from shop_zhenke_post_resource where post_id=#{postId} order by resource_sort,resource_id</select>
  <select id="selectResourcesByPostIds" resultMap="resource">
    select * from shop_zhenke_post_resource
    where post_id in
    <foreach collection="postIds" item="postId" open="(" separator="," close=")">#{postId}</foreach>
    order by post_id,resource_sort,resource_id
  </select>
  <insert id="insertPost" useGeneratedKeys="true" keyProperty="postId">insert into shop_zhenke_post(shop_user_id,title,content,suggestion,perspective,place_id,place_name,place_address,place_province,place_city,place_district,place_latitude,place_longitude,merchant_id,status,published_at,del_flag,create_time,update_time) values(#{shopUserId},#{title},#{content},#{suggestion},#{perspective},#{placeId},#{placeName},#{placeAddress},#{placeProvince},#{placeCity},#{placeDistrict},#{placeLatitude},#{placeLongitude},#{merchantId},'PUBLISHED',sysdate(),'0',sysdate(),sysdate())</insert>
  <insert id="insertResource" useGeneratedKeys="true" keyProperty="resourceId">insert into shop_zhenke_post_resource(post_id,resource_type,resource_url,resource_sort,create_time) values(#{postId},#{resourceType},#{resourceUrl},#{resourceSort},sysdate())</insert>
  <insert id="insertPendingUpload">insert into shop_zhenke_upload(shop_user_id,resource_url,resource_type,expire_time,create_time) values(#{shopUserId},#{resourceUrl},#{resourceType},date_add(sysdate(),interval 24 hour),sysdate())</insert>
  <update id="claimPendingUpload">update shop_zhenke_upload set claimed_post_id=#{postId},claim_time=sysdate() where shop_user_id=#{shopUserId} and resource_url=#{resourceUrl} and resource_type=#{resourceType} and claimed_post_id is null and expire_time&gt;sysdate()</update>
  <update id="deleteOwnPost">update shop_zhenke_post set del_flag='2',status='DELETED',featured_flag='0',featured_at=null,featured_by=null,delete_source='AUTHOR',delete_time=sysdate(),update_time=sysdate() where post_id=#{postId} and shop_user_id=#{shopUserId} and del_flag='0' and status='PUBLISHED'</update>
  <update id="adminDeletePost">update shop_zhenke_post set del_flag='2',status='DELETED',featured_flag='0',featured_at=null,featured_by=null,delete_source='ADMIN',deleted_by=#{adminId},delete_time=sysdate(),update_time=sysdate() where post_id=#{postId} and del_flag='0'</update>
  <update id="featurePost">update shop_zhenke_post set featured_flag='1',featured_at=sysdate(),featured_by=#{adminId},featured_version=featured_version+1,update_time=sysdate() where post_id=#{postId} and del_flag='0' and status='PUBLISHED' and featured_flag='0'</update>
  <update id="unfeaturePost">update shop_zhenke_post set featured_flag='0',featured_at=null,featured_by=null,update_time=sysdate() where post_id=#{postId} and del_flag='0' and status='PUBLISHED' and featured_flag='1'</update>
  <insert id="insertUseful">insert ignore into shop_zhenke_post_useful(post_id,shop_user_id,create_time) select #{postId},#{shopUserId},sysdate() from shop_zhenke_post where post_id=#{postId} and del_flag='0' and status='PUBLISHED'</insert>
  <delete id="deleteUseful">delete from shop_zhenke_post_useful where post_id=#{postId} and shop_user_id=#{shopUserId}</delete>
  <select id="countUseful" resultType="int">select count(*) from shop_zhenke_post_useful where post_id=#{postId} and shop_user_id=#{shopUserId}</select>
  <select id="countUsefulReceivedByAuthor" parameterType="Long" resultType="int">
    select count(*)
    from shop_zhenke_post_useful useful
    join shop_zhenke_post post on post.post_id=useful.post_id
    where post.shop_user_id=#{shopUserId} and post.del_flag='0' and post.status='PUBLISHED'
  </select>
  <resultMap id="usefulContent" type="ShopUsefulContentView">
    <id property="contentId" column="content_id"/>
    <result property="contentType" column="content_type"/>
    <result property="title" column="title"/>
    <result property="summary" column="summary"/>
    <result property="coverUrl" column="cover_url"/>
    <result property="usefulCount" column="useful_count"/>
    <result property="publishedAt" column="published_at"/>
    <result property="detailPath" column="detail_path"/>
  </resultMap>
  <select id="selectUsefulContentByAuthor" parameterType="Long" resultMap="usefulContent">
    select 'POST' content_type,
           post.post_id content_id,
           post.title,
           left(coalesce(nullif(trim(post.suggestion),''),post.content),240) summary,
           (select resource.resource_url
              from shop_zhenke_post_resource resource
             where resource.post_id=post.post_id and resource.resource_type='IMAGE'
             order by resource.resource_sort,resource.resource_id limit 1) cover_url,
           useful.useful_count,
           post.published_at,
           concat('/posts/',post.post_id) detail_path
    from shop_zhenke_post post
    join (
      select post_id,count(*) useful_count
      from shop_zhenke_post_useful
      group by post_id
    ) useful on useful.post_id=post.post_id
    where post.shop_user_id=#{shopUserId} and post.del_flag='0' and post.status='PUBLISHED'
    order by post.published_at desc,post.post_id desc
  </select>
  <resultMap id="comment" type="ShopZhenkePostComment">
    <id property="commentId" column="comment_id"/>
    <result property="postId" column="post_id"/>
    <result property="parentCommentId" column="parent_comment_id"/>
    <result property="replyToCommentId" column="reply_to_comment_id"/>
    <result property="replyToShopUserId" column="reply_to_shop_user_id"/>
    <result property="shopUserId" column="shop_user_id"/>
    <result property="userName" column="user_name"/>
    <result property="nickName" column="nick_name"/>
    <result property="avatar" column="avatar"/>
    <result property="replyToName" column="reply_to_name"/>
    <result property="postAuthor" column="post_author"/>
    <result property="content" column="content"/>
    <result property="createTime" column="create_time"/>
    <result property="replyCount" column="reply_count"/>
  </resultMap>
  <sql id="commentView">select c.*,u.user_name,u.nick_name,u.avatar,rc.shop_user_id reply_to_shop_user_id,coalesce(ru.nick_name,ru.user_name) reply_to_name,c.shop_user_id=p.shop_user_id post_author,case when c.parent_comment_id is null then (select count(*) from shop_zhenke_post_comment reply_count where reply_count.post_id=c.post_id and reply_count.parent_comment_id=c.comment_id and reply_count.del_flag='0') else 0 end reply_count from shop_zhenke_post_comment c join shop_zhenke_post p on p.post_id=c.post_id and p.del_flag='0' join shop_user u on u.user_id=c.shop_user_id left join shop_zhenke_post_comment rc on rc.comment_id=c.reply_to_comment_id left join shop_user ru on ru.user_id=rc.shop_user_id</sql>
  <select id="selectRootComments" resultMap="comment"><include refid="commentView"/> where c.post_id=#{postId} and c.parent_comment_id is null and c.del_flag='0' order by c.create_time desc,c.comment_id desc</select>
  <select id="selectReplyPreviews" resultMap="comment">
    select ranked.* from (
      select c.*,u.user_name,u.nick_name,u.avatar,rc.shop_user_id reply_to_shop_user_id,coalesce(ru.nick_name,ru.user_name) reply_to_name,c.shop_user_id=p.shop_user_id post_author,0 reply_count,
             row_number() over(partition by c.parent_comment_id order by c.create_time,c.comment_id) reply_rank
      from shop_zhenke_post_comment c
      join shop_zhenke_post p on p.post_id=c.post_id and p.del_flag='0'
      join shop_user u on u.user_id=c.shop_user_id
      left join shop_zhenke_post_comment rc on rc.comment_id=c.reply_to_comment_id
      left join shop_user ru on ru.user_id=rc.shop_user_id
      where c.post_id=#{postId} and c.del_flag='0' and c.parent_comment_id in
      <foreach collection="rootCommentIds" item="rootCommentId" open="(" separator="," close=")">#{rootCommentId}</foreach>
    ) ranked
    where ranked.reply_rank &lt;= #{previewSize}
    order by ranked.parent_comment_id,ranked.create_time,ranked.comment_id
  </select>
  <select id="selectReplies" resultMap="comment"><include refid="commentView"/> where c.post_id=#{postId} and c.parent_comment_id=#{rootCommentId} and c.del_flag='0' order by c.create_time,c.comment_id</select>
  <select id="selectComment" resultMap="comment"><include refid="commentView"/> where c.post_id=#{postId} and c.comment_id=#{commentId} and c.del_flag='0'</select>
  <insert id="insertComment" useGeneratedKeys="true" keyProperty="commentId">
    <choose>
      <when test="replyToCommentId != null">
        insert into shop_zhenke_post_comment(post_id,parent_comment_id,reply_to_comment_id,shop_user_id,content,del_flag,create_time,update_time)
        select p.post_id,root.comment_id,target.comment_id,#{shopUserId},#{content},'0',sysdate(),sysdate()
        from shop_zhenke_post p
        join shop_zhenke_post_comment target on target.post_id=p.post_id and target.comment_id=#{replyToCommentId} and target.del_flag='0'
        join shop_zhenke_post_comment root on root.post_id=p.post_id and root.comment_id=coalesce(target.parent_comment_id,target.comment_id) and root.parent_comment_id is null and root.del_flag='0'
        where p.post_id=#{postId} and p.del_flag='0' and p.status='PUBLISHED'
      </when>
      <otherwise>
        insert into shop_zhenke_post_comment(post_id,parent_comment_id,reply_to_comment_id,shop_user_id,content,del_flag,create_time,update_time)
        select #{postId},null,null,#{shopUserId},#{content},'0',sysdate(),sysdate()
        from shop_zhenke_post
        where post_id=#{postId} and del_flag='0' and status='PUBLISHED'
      </otherwise>
    </choose>
  </insert>
  <update id="deleteComment">update shop_zhenke_post_comment set del_flag='2',delete_time=sysdate(),update_time=sysdate() where post_id=#{postId} and comment_id=#{commentId} and shop_user_id=#{shopUserId} and del_flag='0'</update>
  <update id="deleteCommentTree">update shop_zhenke_post_comment set del_flag='2',delete_time=sysdate(),update_time=sysdate() where post_id=#{postId} and del_flag='0' and (comment_id=#{commentId} or parent_comment_id=#{commentId}) and exists(select 1 from (select comment_id from shop_zhenke_post_comment where post_id=#{postId} and comment_id=#{commentId} and shop_user_id=#{shopUserId} and parent_comment_id is null and del_flag='0') owned)</update>
  <resultMap id="banner" type="ShopHomeBanner">
    <id property="bannerId" column="banner_id"/>
    <result property="title" column="title"/>
    <result property="subtitle" column="subtitle"/>
    <result property="imageUrl" column="image_url"/>
    <result property="jumpType" column="jump_type"/>
    <result property="jumpTarget" column="jump_target"/>
    <result property="bannerSort" column="banner_sort"/>
    <result property="status" column="status"/>
    <result property="startTime" column="start_time"/>
    <result property="endTime" column="end_time"/>
    <result property="createBy" column="create_by"/>
    <result property="createTime" column="create_time"/>
    <result property="updateBy" column="update_by"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>
  <select id="selectActiveBanners" resultMap="banner">select * from shop_home_banner where status='0' and (start_time is null or start_time&lt;=sysdate()) and (end_time is null or end_time&gt;sysdate()) order by banner_sort,banner_id limit 10</select>
  <select id="selectBanners" resultMap="banner">select * from shop_home_banner order by banner_sort,banner_id</select>
  <select id="selectBanner" resultMap="banner">select * from shop_home_banner where banner_id=#{id}</select>
  <insert id="insertBanner" useGeneratedKeys="true" keyProperty="bannerId">insert into shop_home_banner(title,subtitle,image_url,jump_type,jump_target,banner_sort,status,start_time,end_time,create_by,create_time,update_by,update_time) values(#{title},#{subtitle},#{imageUrl},#{jumpType},#{jumpTarget},#{bannerSort},#{status},#{startTime},#{endTime},#{createBy},sysdate(),#{updateBy},sysdate())</insert>
  <update id="updateBanner">update shop_home_banner set title=#{title},subtitle=#{subtitle},image_url=#{imageUrl},jump_type=#{jumpType},jump_target=#{jumpTarget},banner_sort=#{bannerSort},start_time=#{startTime},end_time=#{endTime},update_by=#{updateBy},update_time=sysdate() where banner_id=#{bannerId}</update>
  <delete id="deleteBanner">delete from shop_home_banner where banner_id=#{id}</delete>
  <update id="updateBannerStatus">update shop_home_banner set status=#{status},update_by=#{user},update_time=sysdate() where banner_id=#{id}</update>
  <select id="countActiveMerchant" resultType="int">select count(*) from shop_merchant where merchant_id=#{merchantId} and audit_status='APPROVED' and status='0' and del_flag='0'</select>
  <resultMap id="merchantOption" type="ShopMerchantOption">
    <id property="merchantId" column="merchant_id"/>
    <result property="shopName" column="option_shop_name"/>
  </resultMap>
  <select id="selectActiveMerchantOptions" resultMap="merchantOption">
  select merchant_id,coalesce(nullif(trim(shop_name),''),company_name) option_shop_name
  from shop_merchant
  where audit_status = 'APPROVED' and status = '0' and del_flag = '0'
    <if test="keyword != null and keyword != ''">
    and (shop_name like concat('%', #{keyword}, '%') or company_name like concat('%', #{keyword}, '%'))
  </if>
  order by update_time desc, merchant_id desc
  limit 30
  </select>
</mapper>
